<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/jquery-ui-1.10.3.custom.min.css" />
    
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/net.joshnewton.widgetHandler.js"></script>
    <script src="~/Scripts/ui-dialog.js"></script>
    <script src="//js.live.net/v5.0/wl.js"></script>

    <title>Main</title>
</head>
<body>
    <div id="main-container">
        <h1 id="site-title">JoshNewton.NET</h1>
        <div id="btnLogin">Login</div>
        <div id="main-content">
            @RenderBody()
        </div>
    </div>
</body>
</html>