body 
{
    margin-top: 0px;
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #fff;
    background-color: #242424;
    border-top: 4px solid #FF9900;
}

header, footer, nav, section 
{
    display: block;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset 
{
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend 
{
    font-size: 1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error 
{
    color: #f00;
}

.field-validation-valid 
{
    display: none;
}

.input-validation-error 
{
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors 
{
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid 
{
    display: none;
}

/* Custom Styles
-----------------------------------------------------------*/
#content_wrapper
{
   width: 80%;
   margin-right: auto;
   margin-left :auto;
   border: 2px solid Red;
   padding: 20px;
}

.title
{
   font-size: 42px;
   margin-top: -20px;
   margin-left: -100px;
   margin-bottom: 100px;
}

button
{
   height: 30px;
   border: 2px solid #FF9900;
   background-color: #242424;
   color: #FF9900;
   font-weight: bold;
}
   button:hover
   {
      border: 2px solid #B26B00;
      color: #B26B00;
      background-color: #000;
   }

input
{
   height: 19px;
   border: 2px solid #FF9900;
   margin: 5px;
}
   input:hover
   {
      border: 2px solid #B26B00;
   }

#fake_back_button
{
   float: left;
   margin-left: -35px;
}