@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        And do I have some!  I am hoping to have my first app up and running within the next year.  
        This may seem kind of far off, but I am a full time student, holding down a 30-something hour a week job.
        What will this first app be you ask?  Well, I have in mind an application that will allow users to create 
        surveys on their Windows 8 device.  These surveys will be able to be taken on the device, and other windows 8
         devices through some sharing functionality.  All of the data will be kept (securely) on this server 
        so that it can be reported on and downloaded.
        That's all for now, but come back soon and check for updates!
    </p>
</article>
