@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        YOU WISH!
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Personal 1:</span>
        <span><a href="mailto:joshnewton@outlook.com">joshnewton@outlook.com</a></span>
    </p>
    <p>
        <span class="label">Personal 2:</span>
        <span><a href="mailto:jlnewton87@gmail.com">jlnewton87@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        WRONG AGAIN
    </p>
</section>