<ul>
    <li><a href="#homeTab">Home</a></li>
    <li><a href="#contactTab">Contact</a></li>
</ul>
@*HOME TAB*@
<div id="homeTab">
    <hgroup class="title">
        <h1>Home. Where it all begins</h1>
    </hgroup>
    <div class="sub-content">
        <p>This is my personal website, and future home to rants and discussions concerning politics and technology.</p>
        <p>Come soon back if you are interested.</p>
        <a id="btnAddTab" href="#">Add Tab</a>
    </div>
</div>

@*CONTACT TAB*@
<div id="contactTab">
    <hgroup class="title">
        <h1>Contact. A human necessity</h1>
    </hgroup>
    <div class="sub-content">
        <p>Drop me a line if you have any ideas for content, or would like to discuss something posted on the site.</p>
        <p>Personal Email: <a href="mailto:joshnewton@outlook.com">joshnewton@outlook.com</a></p>
    </div>
</div>

<div id="login" title="Logged In" style="display:none;">
  <p>User would now be logged in</p>
</div>

<div id="signin" title="signin"></div>

