<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/style.css" type="text/css" />
    <link rel="stylesheet" href="~/Content/jquery-ui-1.10.3.custom.min.css" />
    
    <script src="~/Scripts/jquery-1.9.1.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="~/Scripts/net.joshnewton.widgetHandler.js"></script>
    <title>Main</title>
</head>
<body>
    <div id="main-container">
        <h1 id="site-title">JoshNewton.NET</h1>
        <div id="main-content">
            <ul>
                <li><a href="#homeTab">Home</a></li>
                <li><a href="#aboutTab">About</a></li>
                <li><a href="#contactTab">Contact</a></li>
            </ul>
            @*HOME TAB*@
            <div id="homeTab">
                <hgroup class="title">
                    <h1>Home. Where it all begins</h1>
                </hgroup>
                <div class="sub-content">
                    <p>This is my personal website, and future home to rants and discussions concerning politics and technology.</p>
                    <p>Come soon back if you are interested.</p>
                </div>
            </div>
            @*ABOUT TAB*@
            <div id="aboutTab">
                <hgroup class="title">
                    <h1>About. Ideas</h1>
                </hgroup>
                <div class="sub-content">
                    <p>And do I have some! I am hoping to have my first app up 
                        and running within the next year. This may seem kind of far off, 
                        but I am a full time student, holding down a 30-something hour a week job.</p>
                    <p>Come back for updates.  Or, if you have a device running Windows 8, just keep an eye on the Windows Store.
                          I will have something there in the next few months.
                    </p>
                </div>
            </div>
            @*CONTACT TAB*@
            <div id="contactTab">
                <hgroup class="title">
                    <h1>Contact. A human necessity</h1>
                </hgroup>
                <div class="sub-content">
                    <p>Drop me a line if you have any ideas for content, or would like to discuss something posted on the site.</p>
                    <p>Personal Email: <a href="mailto:joshnewton@outlook.com">joshnewton@outlook.com</a></p>
                </div>
            </div>
        </div>
    </div>


    <div id="snipTab">
        <hgroup class="title">
            <h1>This is the Snippet tab</h1>
        </hgroup>
        <div class="sub-content">
            <p>Accordian widget will go here</p>
        </div>
    </div>


</body>
</html>
