@model joshnewton.net.Models.Attendee
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_GradAnnouncement.cshtml";
}
<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/jquery-ui-1.10.3.custom.min.js"></script>
<script src="~/Content/scripts/Grad_Rsvp.js"></script>
<link href="~/Content/themes/KSU-theme/jquery-ui-1.10.3.custom.min.css" rel="stylesheet" />
<div id="main-box">
    <img src="~/Content/images/KSULogo.png" /><hr />
    <p>Thanks for letting us know!</p>
    <p><a target="_blank" href="http://www.bing.com/maps/default.aspx?q=573%20Main%20Street%20%2F%20Atlanta%2C%20Georgia%2030324#Y3A9MzMuODIyMjM1fi04NC4zNjkxNTYmbHZsPTQmc3R5PXImcT01NzMlMjUyME1haW4lMjUyMFN0cmVldCUyNTIwJTI1MkYlMjUyMEF0bGFudGElMjUyQyUyNTIwR2VvcmdpYSUyNTIwMzAzMjQ=">Taco Mac @@ Lindergh</a></p>
</div>
<h2>Thanks</h2>
