@{
    ViewBag.Title = "index";
}

<h1 class="title"><img id="fake_back_button" src="~/Content/images/back.png" title="Fake Back Button" alt="Fake Back Button" />&nbsp;&nbsp;Chat Test</h1>

<div id="chat_container">
    <ul id="conversation_content">

    </ul>
</div>

<div id="chat_controls">
    <input type="text" id="new_message" />
    <button id="btnSubmit">Submit</button>
</div>

<script type="text/javascript">
    
    (function () {
        $("#btnSubmit").button().click(function (event) {
            var message;
            message = $("#new_message").val();
            $.ajax({
                url: "http://localhost:44793/Home/AddMessage",
                type: "POST",
                data: "jsonMessage=" + message,
                success: function () { alert("Done!"); $("#new_message").val(""); }
            });
            event.preventDefault();
        });
        $("#fake_back_button").click(function () { alert("That's just for show"); });
    }());
</script>